*{
    box-sizing: border-box;
    text-align: center;

}

body {
    text-align: center;
    color: black;
    background-color: whitesmoke;
    padding: 5px;
}

.main-nav li {
    display: block;
    background-color: white;
    list-style: none;
    padding: 10px;
    width: auto;
}

ul,li {
    list-style-type: none;
    padding: 0,0,0,-40px;
    font-weight: 800;
    width: auto;
}

h3 {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
} 

.name-title {
    font-size: 2.125em;
    font-weight: bold;
}

.title {
    font-weight: 500;
    font-size: 18px;

}

.main-info {
    background-color: white;
    width: 100%;
    padding: 10px 10px 40px 10px;
    margin: 40px 0;
}

.profile-image {
    max-width: 70%;
    margin: 15px 10px;
}

.hidden {
    display: none;
}

#portfolio {
    font-weight: 800;
    font-size: 18px;
    padding: 20px;
}

#phone,
#email {
    font-weight: 600;
    padding: 5px;
}

.projects  {
   margin: 10px;
}

@media screen (min-width: 768) {
    

}